/*
Don't want to use sass and simply modify the stylesheet in the old css fashion?
Just customize your theme here.
================================================== */
:root {
	--card-height: 40vw;
	--card-margin: 0,5vw;
	--card-top-offset: 1em;
--outline-width: 0px;
}

#cards {
	padding-bottom: 2rem; /* Make place at bottom, as items will slide to that position*/
	margin-bottom: var(--card-margin); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
    padding-left: 0;
}

.cardy {
	position: sticky;
	top: 80px;
	padding-top: var(--card-top-offset);
	transform-origin: 50% 0%;
	will-change: transform;
}
#cards {
	list-style: none;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--numcards), var(--card-height));
	gap: var(--card-margin);
}




@media (max-width: 1000px) {
  .card__content {
  	box-shadow: 0 -0.7em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
  	background: rgb(255, 255, 255);
  	color: rgb(10, 5, 7);
  	border-radius: 0.25em;
  	overflow: hidden;
  }
  .card__content > div {
    padding: 1rem 1rem;
		place-self: center;
  	width: 100%;
  	text-align: left;
			box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
  }
  .card__content > figure > img {
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
		box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 1000px) {
  .card__content {
  	box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
  	background: rgb(255, 255, 255);
  	color: rgb(10, 5, 7);
  	border-radius: 0.25em;
  	overflow: hidden;

  	display: grid;
  	grid-template-areas: "text img";
  	grid-template-columns: 1fr 1fr;
  	grid-template-rows: auto;

  	align-items: stretch;
  }
.card__content > div {

	width: 80%;
	place-self: center;
	text-align: left;

	gap: 1em;
	place-items: start;
}


.card__content > figure > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
}


